body{
    display:flex;
    justify-content: center;
    align-items: center;
}
.calcBody{
    background-color: lightgray;
    border-radius: 5px;
    border: 2px solid black;
    height: 500px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%; 
    box-sizing: border-box;
    flex-direction: column;
}

.display{
    display: flex;
    justify-content: center;
    align-items:center;
    flex: 2;
    border:2px solid black;
    border-radius: 8px;
    width:90%;
    margin: 16px;
    background-color: aliceblue;
}

.allButtons{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    flex: 5;
    padding:0;
}

#numButton{
    background-color: lightblue;
}

#operationButton, #equalButton, #squareRootButton{
    background-color: lightsalmon;
}

.bottomRow{
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

button{
    width: 3.5rem;
    height: 3.5rem;
    margin: 8px;
    border-radius: 8px;
    border: 2px solid black;
    font-weight: bold;
    font-size: 18px;
}
