body{
    display:flex;
    justify-content: center;
    align-items: center;
}
.calcBody{
    background-color: lightgray;
    border-radius: 8px;
    border: 2px solid black;
    margin-top: 100px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%; 
    box-sizing: border-box;
    flex-direction: column;
}

.display{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: end;
    flex: 2;
    border:2px solid black;
    border-radius: 8px;
    width:90%;
    margin: 16px;
    background-color: aliceblue;
    gap:8px;
}

.answerContainer{
    max-width: 225px;
    margin-right:16px;
    font-size: 32px;
    font-weight: 550;
    word-wrap: break-word;
    word-break: break-all;
}
.equationContainer{
    margin-right: 16px;
    font-size: 20px;
    color: grey;
    min-height: 23px;
    max-width: 225px;
    word-wrap: break-word;
    word-break: break-all;
}

.allButtons{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    flex: 5;
    padding:0;
}

#numButton{
    background-color: lightblue;
}

#operationButton, #equalButton, #squareRootButton{
    background-color: lightsalmon;
}

#deleteButton, #clearButton{
    background-color: lightcoral;
}

.bottomRow{
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.bottomRow button{
    width: 128px;
}

button{
    width: 3.5rem;
    height: 3.5rem;
    margin: 8px;
    border-radius: 8px;
    border: 2px solid black;
    font-weight: bold;
    font-size: 18px;
}
